@model Hotel_Bengali.Models.vista


@{
    ViewBag.Title = "Home Page";
}


<div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Assets/images/img05.jpg" class=" d-block w-100" alt="..." style="max-height: 50rem;">
        </div>
        <div class="carousel-item">
            <img src="~/Assets/images/img06.jpg" class="d-block w-100" alt="..." style="max-height: 50rem;">
        </div>
        <div class="carousel-item">
            <img src="~/Assets/images/img07.jpg" class="d-block w-100" alt="..." style="max-height: 50rem;">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="fondo-transparente px-5">
    <div class="text-center ">
        <h2 class="text-black mt-0 pt-5 pb-4">Alojamiento de Hotel</h2>
        <h5>Todos vivimos en una época que pertenece a los jóvenes de corazón. Vida que se está volviendo extremadamente rápida.</h5>
        <br>
        <div class="row row-cols-1 row-cols-md-3 g-5">
            <div class="col">
                <div class="card h-100">
                    <img src="~/Assets/images/pq06.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">PAQUETE ARGENTINO</h5>
                        <p class="card-text">¡Aproveche este paquete exclusivo para residentes argentinos!</p>
                        <div class="d-grid gap-2 mx-auto my-auto">
                            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal">Reservar ahora</button>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col">
                <div class="card h-100">
                    <img src="~/Assets/images/pq05.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">OFERTA DE LARGA ESTADÍA</h5>
                        <p class="card-text">Disfrute de una estancia prolongada con este paquete especial. (mínimo: 7 noches de estadía)</p>
                        <div class="d-grid gap-2 mx-auto my-auto">
                            <button class="btn btn-primary" type="button">Reservar ahora</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="~/Assets/images/pq04.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">PROMOCIÓN COMPRA ANTICIPADA</h5>
                        <p class="card-text">Ahorra con esta especial promoción de compra anticipada</p>
                        <div class="d-grid gap-2 mx-auto my-auto">
                            <button class="btn btn-primary" type="button">Reservar ahora</button>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
        <br>
        <br>
    </div>
    <br>
    <br>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        @using(Html.BeginForm("GuardarReserva", "Home", FormMethod.Post))
        { 
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Formulario</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <h3>Datos de Reserva</h3>
                </div>
                <div class="row p-2 pb-0">
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Habitacion.Numero,"Habitación N°", new { @class = "col-sm-12 col-form-label" })
                        @Html.TextBoxFor(x => x.Habitacion.Numero, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Reserva.FechaIngreso,"Fecha Ingreso", new { @class = "col-sm-12 col-form-label" })
                        @Html.TextBoxFor(x => x.Reserva.FechaIngreso, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Reserva.FechaEgreso,"Fecha Egreso", new { @class = "col-sm-12 col-form-label" })
                        @Html.TextBoxFor(x => x.Reserva.FechaEgreso, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                    </div>
                </div>
                <div class="row p-2 pb-0">
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Pago.Monto, new { @class = "col-sm-12 col-form-label" })
                        @Html.TextBoxFor(x => x.Pago.Monto, new { @class = "form-control", placeholder = "Monto" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Pago.FormaPago, "Forma de Pago", new { @class = "col-sm-12 col-form-label" })
                        @Html.DropDownListFor(x => x.Pago.FormaPago, (SelectList)ViewBag.ListaFormasDePago, "Seleccione una opcion", new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Pago.FechaPago, "Fecha de Pago", new { @class = "col-sm-12 col-form-label" })
                        @Html.TextBoxFor(x => x.Pago.FechaPago, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                    </div>
                </div>
                <div class="text-center">
                    <h3>Datos Personales</h3>
                </div>
                <div class="row p-2 pb-0">

                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Huesped.Nombre, new { @class = "col-sm-12 col-form-label" })
                        @Html.TextBoxFor(x => x.Huesped.Nombre, new { @class = "form-control", placeholder = "Nombre" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Huesped.Apellido, new { @class = "col-sm-12 col-form-label" })
                        @Html.TextBoxFor(x => x.Huesped.Apellido, new { @class = "form-control", placeholder = "Apellido" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Huesped.Dni,"DNI", new { @class = "col-sm-12 col-form-label" })
                        @Html.TextBoxFor(x => x.Huesped.Dni, new { @class = "form-control", placeholder = "DNI" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Huesped.Genero,"Género", new { @class = "col-sm-12 col-form-label" })
                        @Html.DropDownListFor(x => x.Huesped.Genero, (SelectList)ViewBag.ListaGenero, "Seleccione una opcion", new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Huesped.FechaNacimiento,"Fecha de Nacimiento", new { @class = "col-sm-12 col-form-label" })
                        @Html.TextBoxFor(x => x.Huesped.FechaNacimiento, "{0:yyyy-MM-dd}", new { @class = "form-control", Type ="date", placeholder = "País" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Huesped.Nacionalidad, new { @class = "col-sm-12 col-form-label" })
                        @Html.TextBoxFor(x => x.Huesped.Nacionalidad, new { @class = "form-control", placeholder = "Nacionalidad" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Huesped.Telefono, new { @class = "col-sm-12 col-form-label" })
                        @Html.TextBoxFor(x => x.Huesped.Telefono,"Teléfono", new { @class = "form-control", placeholder = "Teléfono" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Huesped.Email, new { @class = "col-sm-12 col-form-label" })
                        @Html.TextBoxFor(x => x.Huesped.Email, new { @class = "form-control", placeholder = "Email" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Huesped.Domicilio.Calle, new { @class = "col-sm-12 col-form-label" })
                        @Html.TextBoxFor(x => x.Huesped.Domicilio.Calle, new { @class = "form-control", placeholder = "Calle" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Huesped.Domicilio.Ciudad, new { @class = "col-sm-12 col-form-label" })
                        @Html.TextBoxFor(x => x.Huesped.Domicilio.Ciudad, new { @class = "form-control", placeholder = "Ciudad" })
                    </div>

                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Huesped.Domicilio.Provincia, new { @class = "col-sm-12 col-form-label" })
                        @Html.TextBoxFor(x => x.Huesped.Domicilio.Provincia, new { @class = "form-control", placeholder = "Provincia" })
                    </div>
                    <div class="col-lg-4">
                        @Html.LabelFor(x => x.Huesped.Domicilio.Pais,"País", new { @class = "col-sm-12 col-form-label" })
                        @Html.TextBoxFor(x => x.Huesped.Domicilio.Pais, new { @class = "form-control", placeholder = "País" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Huesped.Domicilio.CodigoPostal, "Codigo Postal", new { @class = "col-sm-12 col-form-label" })
                        @Html.TextBoxFor(x => x.Huesped.Domicilio.CodigoPostal, new { @class = "form-control", placeholder = "Código Postal" })
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        }
    </div>
</div>